body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  display: flex;
}

CartWidget{
  display: flex;
  justify-content: right;
}
img{
  width: 28px;
  height: 28px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html, body, #root{
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
}
.link{
  text-decoration: none;
  color:#000;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  height: 60px;
  background: #ed12a2;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 600px) {
  .header{
    flex-direction: row;
    justify-content: space-between;
  }
}
.link{
  margin: 1rem;
  padding-top: 14px;
}
.main{
  flex: 1;
  padding:1rem;
}
.footer{
  height: 40px;
  background: #ed12a2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.true{
  color: green;
}
.false{
  color: red;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 234, 237);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  width: 25%;
  height: 20%;
  flex-wrap: wrap;
}
.imagenTermo1{
  width: 18rem;
  height: 250px;
  
}
.imagenDetallesTermo1{
  height: 350px;
  width: 380px;
}
.tituloDetallesTermo1{
  width: 30%;
}
.card-title{
  text-align: center;
}
.stockTermo1{
  text-align: center;
  margin-top: 10px;
}
.tituloTermo1{
  font-size: 26px;
  text-align: center;
}
.but{
  display: flex;
  align-items: center;
}
.header__title{
  text-decoration: none;
  color: #000;
}
.header__title:visited{
  color: #000;
}
.header__title:active{
  color: #000;
}
.greeting{
  text-align: center;
}